body {
    height:100vh; /*takes up 100% of the user's viewport height*/
    display:flex;
    justify-content: center;
    align-items: center;
}
.square {
    width:25px;
    height:25px;
    background-color: aquamarine;
    margin: 1px;
}


.row {
    display:flex;
}

.col {
    display:flex;
    flex-direction: column;

}